/*body{
    background-image: url('img/home.png'); 
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;*/
    /* 背景画像指定 */
/*}

html {
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.btn{
    width:500px;
    height:200px;
    border-radius: 100px;
    background-color: rgb(252, 151, 183); 
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
  }

nav{
    position:absolute;
    text-align: center;
	  top: 750px;
	  left:130px;
    font-size: 18px;
    width:160px;
    height: 90px;
    z-index:10000;
}*/
html {
    min-height: 100%;
    background-image: url('img/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }



nav{
    position:relative;
    text-align: center;
	  top: 700px;
    left:-50px
	 /*  left: 430px;
    font-size: 18px;
    width:160px;
    height: 90px;
    z-index:10000;*/
}

.btn{
    position:absolute;
    border-radius: 100px;
    background-color: rgb(252, 151, 183); 
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
  }