html {
    min-height: 100%;
    background-image: url('img/play.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.btn{
    width:500px;
    height:200px;
    border-radius: 100px;
    background-color: rgb(252, 151, 183); 
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    text-align: center;
  }

nav{
    text-align: center;
    position:absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
/*body{
    background-image: url('img/play.png'); 
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

html {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


nav{
  position:absolute;
  text-align: center;
  top: 570px;
  left:20px;
  font-size: 20px;
  width:400px;
  height: 200px;
  z-index:10000;
}
.btn{
    width:500px;
    height:200px;
    border-radius: 5px;
    background-color: rgb(252, 151, 183); 
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    text-align: center;
  }*/
