html {
    min-height: 100%;
    background-image: url('img/quiz.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
/*nav{
    text-align: center;
    position:absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }*/


p{
    position:relative;
    top: 0%;
}

.default{
    position:absolute;
    left:60%;
    color:#CC0076;
    font-size: 70px;
    font-family: Arial;
}

a{  
    position:absolute;
    text-align: left;
    top:47%;
    left: 24%;
    width:475px;
    font-size: 24px;
    /*transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);*/
}


.groupname{
    position:relative;
		/*top: 0%;*/
    font-size: 24px;
    font-weight: bolder;
}

.groupname2{
    position:relative;
		/*top: 3%;*/
    font-size: 24px;
    font-weight: bolder;
}

.quest{
    position:relative;
		/*top: 6%;*/
    font-size: 24px;
    height: 200px;
    /*height: 90px;*/
}

/*.parent {
  position: relative;
  padding: 20px;
}*/


div#sentaku1{
    position:absolute;
    text-align: center;
		top: 31px;
		left:0px;
    font-size: 18px;
    width:160px;
    height: 90px;
    z-index:10000;
}

/* #select1{
    position:absolute;
		top: 385px;
		left:60px;
    font-size: 14px;
} */

div#sentaku2{
    position:absolute;
    text-align: center;
		top: 31px;
		left:0px;
    font-size: 18px;
    width:160px;
    height: 90px;
    z-index:10000;
}

div#sentaku3{
    position:absolute;
    text-align: center;
		top: 31px;
		left:0px;
    font-size: 18px;
    width:160px;
    height: 90px;
    z-index:10000;
}

div#sentaku4{
    position:absolute;
    text-align: center;
		top: 31px;
		left:0px;
    font-size: 18px;
    width:160px;
    height: 90px;
    z-index:10000;
}

.example1{
    display: flex;
}
.example1 label{
    position:absolute;
    bottom: 20%;
		left:27%;
    display: block;
    background: #eac3dc;
    color: #000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    width: 173px;
    height: 95px;
}
.example1 input:checked+label{
    background: #e984c4;
    color: #FFF;
}
.example1 input{
    display: none;
}

.example2{
    display: flex;
}
.example2 label{
    position:absolute;
    bottom: 20%;
		left:52%;
    display: block;
    background: #eac3dc;
    color: #000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    width: 173px;
    height: 95px;
}
.example2 input:checked+label{
    background: #e984c4;
    color: #FFF;
}
.example2 input{
    display: none;
}

.example3{
    display: flex;
}
.example3 label{
    position:absolute;
    bottom: 10%;
		left:27%;
    display: block;
    background: #eac3dc;
    color: #000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    width: 173px;
    height: 95px;
}
.example3 input:checked+label{
    background: #e984c4;
    color: #FFF;
}
.example3 input{
    display: none;
}

.example4{
    display: flex;
}
.example4 label{
    position:absolute;
    bottom: 10%;
		left:52%;
    display: block;
    background: #eac3dc;
    color: #000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    width: 173px;
    height: 95px;
}
.example4 input:checked+label{
    background: #e984c4;
    color: #FFF;
}

.example4 input{
    display: none;
}

.atari { position:absolute; width:200px; height:40px; top:100%; left:44%; border-radius: 10px; visibility: hidden;}
.hazure{ position:absolute; width:200px; height:40px; top:60%; left:44%; border-radius: 10px; visibility: hidden;} 

.nextbutton{
  position:absolute;
  text-align: center;
  bottom: 5%;
  left: 60%;
  font-size: 15px;
  width: 150px;
  height: 50px;
  z-index: 10000;
  border-radius: 5px;
  background-color: rgb(252, 151, 183); 
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 28px;
}

.kekka{
  position:absolute;
  text-align: center;
  bottom:5%;
  left: 44%;
  font-size: 15px;
  width: 120px;
  height: 50px;
  z-index: 10000;
  border-radius: 5px;
  background-color: rgb(151, 164, 252); 
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 28px;
}