html {
    min-height: 100%;
    background-image: url('img/seikai1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.btn{
    width:500px;
    height:200px;
    border-radius: 5px;
    background-color: rgb(252, 151, 183); 
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    text-align: center;
  }

nav{
    text-align: center;
    position:absolute;
    bottom: 5%;
    left: 74%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }


div{
  text-align: left;
  position:absolute;
  top:37%;
  left:33%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  position:absolute;
}

.seikaido{
  color:rgb(226, 43, 165);
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.seikai1{
    top: 65%;
    left:40%;
    font-size: 28px;
    width: 400px;
}

.seikai2{
    top: 68%;
    left:40%;
    font-size: 28px;
    width: 400px;
}

.seikai3{
    top: 80%;
    left:40%;
    font-size: 28px;
    width: 400px;
}

/*div#seikaido{
  position:absolute;
  top:500px;
  left:31%;
  color:rgb(226, 43, 165);
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}*/
/*
body{
    background-image: url('img/seikai1.png'); 
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

html {
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.btn{
  border-radius: 5px;
  background-color: rgb(252, 151, 183); 
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

nav{
  position:absolute;
  text-align: center;
  top: 850px;
  left:290px;
  font-size: 18px;
  width:160px;
  height: 90px;
  z-index:10000;
}



.seikai{
    position:relative;
		top: 670px;
		left:50px;
    font-size: 14px;
    width: 290px;
    height: 90px;
}

div#seikaido{
  position:absolute;
  top:335px;
  left:85px;
  color:rgb(226, 43, 165);
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}*/