html {
    min-height: 100%;
    background-image: url('img/start1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.btn{
    width:500px;
    height:200px;
    border-radius: 100px;
    background-color: rgb(252, 151, 183); 
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    text-align: center;
  }

nav{
    text-align: center;
    position:absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
/*body{
    background-image: url('img/start1.png'); 
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

nav{
    position:absolute;
    text-align: center;
	top: 600px;
	left:140px;
    font-size: 18px;
    width:160px;
    height: 90px;
    z-index:10000;
}

.btn{
    border-radius: 5px;
    background-color: rgb(252, 151, 183); 
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
  }

html {
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }*/